<div class="container-fluid">
  <div class="row min-vh-100">

    <!-- SIDEBAR -->
    <aside class="col-2 bg-success text-white p-3">
      <h5 class="fw-bold mb-4">Admin</h5>

      <ul class="nav flex-column gap-2">
        <li><a routerLink="/app/home" class="nav-link text-white">Dashboard</a></li>
        <li><a routerLink="/app/candidats" class="nav-link text-white">Candidats</a></li>
        <li><a routerLink="/app/candidats/add" class="nav-link text-white">Ajouter</a></li>
      </ul>
    </aside>

    <!-- CONTENU -->
    <main class="col-10 p-4 bg-light">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>
